name: GLaDOS Checkin

on:
  push:
    branches: [ main ]
  schedule:
    # 每天北京时间早上 9:00 自动执行 (UTC 1:00)
    - cron: '0 1 * * *'
  workflow_dispatch: # 允许手动点击运行

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests

    # 当Action成功后，在Run checkin script一栏可以看到签到结果和剩余会员天数
    - name: Run checkin script
      env:
        GLADOS_COOKIE: ${{ secrets.GLADOS_COOKIE }}
      run: python checkin.py